.album-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.album-cover {
  margin-right: 50px;
}

.album-info {
  flex-grow: 1;
}

.album-cover img {
  width: 200px;
  height: auto;
}

.album-detail-container {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
}
