.album-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* 为专辑之间添加一些间距 */
}

.album-cover {
  margin-right: 50px; /* 在封面图片和信息之间添加一些间距 */
}

.album-info {
  flex-grow: 1;
}

.album-cover img {
  width: 200px; /* 或者其他尺寸，根据需要调整 */
  height: auto;
}
