{% extends 'base.html' %}
{% load static %}

{% block styles %}
{{ block.super }}
<style>
	.vh-88 {
		height: 88vh;
	}
	.vh-30 {
		height: 30vh;
	}
	.w-94 {
		width: 94%;
	}
	.h-46 {
		height: 46%;
	}
	.h-98 {
		height: 98.8%;
	}
	.content-wrapper {
		max-width: 87%;
	}
	@media screen and (min-width: 568px) {
		.carousel-inner .carousel-item.active,
		.carousel-inner .carousel-item-next,
		.carousel-inner .carousel-item-prev {
			display: flex;
		}
		.card {
			margin: 0 .5em;
		}
		.image-wrapper {
			height: 22vh;
		}
	}
	.image-wrapper img{
		max-height: 100%;
		max-width: 100%;
	}
	@media screen and (max-width: 567px) {
		.card:not(:first-child) {
			display: none;
		}
	}
	.card {
		box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
		transition: transform 0.3s ease-in-out;
	}
	.card:hover {
		transform: scale(1.05);
	}
	.carousel-inner {
		padding: 1em;
	}
	.carousel-control-prev,.carousel-control-next {
		background-color: #e1e1e1;
		width: 6vh;
		height: 6vh;
		border-radius: 50%;
		top: 50%;
		transform: translateY(-50%);
	}
	.carousel-control-prev span,.carousel-control-next span {
		width: 1.5rem;
		height: 1.5rem;
	}
</style>
{% endblock %}

{% block content %}

<section class="bg-dark text-light p-5 text-center text-sm-start align-items-center justify-content-inbetween">
	<div class="container">
		<div class="row d-sm-flex">
			<div class="col">
				<div class="content-wrapper">
					<h1 class="text-info">Find Your Next Favorite Song!</h1>
					<p class="lead mb-4">Search by artist, album, or track! Browse new releases and popular albums below!</p>
				</div>
			</div>
			<div class="col-md-6 my-3">
				<div class="input-group py-3">
					<input type="text" class="form-control" placeholder="Explore!">
					<button class="btn btn-primary" type="button">Search</button>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="bg-primary">
	<br>
</section>

<section class="text-dark">
	<div class="container py-3">

		<h2 class="text-center py-3">New Releases</h2>

		<div id="releaseCarousel" class="carousel slide carousel-dark">
			<div class="carousel-inner w-100">
				<div class="carousel-item active">
					<div class="card">
						<div class="image-wrapper">
							<img src="{{ MEDIA_URL }}default/album.jpg" alt="...">
						</div>
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="btn btn-primary">Go somewhere</a>
						</div>
					</div>
					<div class="card">
						<div class="image-wrapper">
							<img src="{{ MEDIA_URL }}default/album.jpg" alt="...">
						</div>
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="btn btn-primary">Go somewhere</a>
						</div>
					</div>
					<div class="card">
						<div class="image-wrapper">
							<img src="{{ MEDIA_URL }}default/album.jpg" alt="...">
						</div>
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="btn btn-primary">Go somewhere</a>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="card">
						<div class="image-wrapper">
							<img src="{{ MEDIA_URL }}default/album.jpg" alt="...">
						</div>
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="btn btn-primary">Go somewhere</a>
						</div>
					</div>
					<div class="card">
						<div class="image-wrapper">
							<img src="{{ MEDIA_URL }}default/album.jpg" alt="...">
						</div>
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="btn btn-primary">Go somewhere</a>
						</div>
					</div>
					<div class="card">
						<div class="image-wrapper">
							<img src="{{ MEDIA_URL }}default/album.jpg" alt="...">
						</div>
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="btn btn-primary">Go somewhere</a>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="card">
						<div class="image-wrapper">
							<img src="{{ MEDIA_URL }}default/album.jpg" alt="...">
						</div>
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="btn btn-primary">Go somewhere</a>
						</div>
					</div>
					<div class="card">
						<div class="image-wrapper">
							<img src="{{ MEDIA_URL }}default/album.jpg" alt="...">
						</div>
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="btn btn-primary">Go somewhere</a>
						</div>
					</div>
					<div class="card">
						<div class="image-wrapper">
							<img src="{{ MEDIA_URL }}default/album.jpg" alt="...">
						</div>
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="btn btn-primary">Go somewhere</a>
						</div>
					</div>
				</div>
			</div>

			<button class="carousel-control-prev" type="button" data-bs-target="#releaseCarousel" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#releaseCarousel" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>

		</div>
	</div>
</section>

<section class="bg-primary my-4">
	<br>
</section>

{% endblock %}