{% extends 'base.html' %}

{% block styles %}
{{ block.super }}
{% endblock %}

{% block content %}
<main>
    <div class="container py-5 h-100 opacity-90">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white shadow-lg">
                    <div class="card-body p-5 text-center">
                        <div class="mb-md-5 mt-md-4 pb-5">

                                <h2 class="fw-bold mb-5">Login</h2>
                                <form id="login_form" method="post" action="{% url 'user:login' %}">
                                    {% csrf_token %}
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="floatingInput" placeholder="Username" name="username">
                                    <label for="floatingInput">Username</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
                                    <label for="floatingPassword">Password</label>
                                </div>
                                <input type="submit" name="submit" value="Login" />

                        </div>

                        <div>
                            <p class="mb-0">Don't have an account? <a href="{% url 'user:register' %}" class="text-white-50 fw-bold">Sign Up</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}