{% extends 'base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'song_list.css' %}">
{% endblock %}
{% block content %}

<div class="top-bar">
    <h2>Songs List</h2>
</div>

<div>
    {% for song in songs %}
      <div class="song">
         <p><a href="{% url 'song:details' song.id %}">{{ song.title }}</a> - Uploaded on: {{ song.uploaded_at }}</p>
        <p>Average Rating: {{ song.average_rating }}</p>
      </div>
    {% empty %}
      <p>No songs have been uploaded yet.</p>
    {% endfor %}
</div>


<div class="upload-song-button">
    <a href="{% url 'user:index' %}" class="button" style="text-decoration: none; color: black;">Return</a>
    <a href="{% url 'song:upload' %}" class="button">Upload a Song</a>
</div>
{% endblock %}