{% extends 'base.html' %}
{% load static %}


{% block title %}Songs List{% endblock %}

{% block styles %}
     <link rel="stylesheet" href="{% static 'song_list.css' %}">
{% endblock %}

{% block scripts %}
        <script src="{% static 'delete_song.js' %}"></script>
{% endblock %}

{% block content %}

<main>
    <h1>Uploaded Songs</h1>
    <div class="songs-list">
        {% for song in songs %}
        <div class="song">
            {% if song.album.cover %}
            <img src="{{ song.album.cover.url }}" alt="Front Cover">
            {% endif %}
            <div class="song-info">
                <h2>{{ song.name }}</h2>
                <p>Singer: {{ song.singer }}</p>
                <p>Album: {{ song.album }}</p>
                <p>Style: {{ song.style }}</p>
                <p>Average Rating: {{ song.avgrating }}</p>
                <p>Reviews: {{ song.reviews }}</p>
            </div>
            {% if song.music_link %}
            <a href="{{ song.music_link }}" class="song-link">Listen</a>
            {% endif %}
            <form action="{% url 'delete_song' song.id %}" method="post">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
        </div>
        {% endfor %}
        <div>
            <a href="{% url 'upload_song' %}" class="button" style="text-decoration: none; color: black;">upload your song</a>
        </div>
        <div>
            <a href="{% url 'index' %}" class="button" style="text-decoration: none; color: black;">return</a>
        </div>
    </div>
</main>
{% endblock %}
