{% extends 'base.html' %}
{% load static %}
{% block title %}Albums List{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'albums_list.css' %}">
{% endblock %}

{% block content %}
<h2>Albums List</h2>
<div class="albums-list">
   {% for album in albums %}
  <div class="album-container">
    <div class="album-cover">
      {% if album.cover %}
      <img src="{{ album.cover.url }}" alt="{{ album.name }}" width="100">
      {% endif %}
    </div>
    <div class="album-info">
      <h3><a href="{% url 'album_detail' album.id %}">{{ album.name }}</a></h3>
      <p>Artist: {{ album.artist }}</p>
      <p>Genre: {{ album.genre }}</p>
      <p>Release Date: {{ album.release_date }}</p>
      <p>Type: {{ album.type }}</p>
    </div>
  </div>
  {% empty %}
  <p>No albums uploaded yet.</p>
  {% endfor %}
  <div>
      <a href="{% url 'upload_album' %}" class="button" style="text-decoration: none; color: black;">Upload new one</a>
  </div>
  <div>
    <a href="{% url 'index' %}" class="button" style="text-decoration: none; color: black;">Return</a>
  </div>
</div>
{% endblock %}
